.Table {
  width: 100%;
}

.ItemCard {
  cursor: pointer;
}

.ItemImage {
  margin-right: 10px;
  height: 90px;
  width: 90px;
}

.ItemTitleContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.ItemPrice {
  display: flex;
  font-size: x-large;
  align-items: center;
}

.ShippingIcon {
  color: green;
  margin-left: 5px;
}

.ItemCondition {
  text-align: right;
}

