@import ../../Styles/Displays

$searchbarHeight: 50px
$searchbarVerticalPadding: 10px
$containerMaxWidth: 960px
.Searchbar
  @include VerticalFullFlex
  top: 0
  text-align: center
  background-color: yellow
  height: $searchbarHeight
  align-items: center
  justify-content: center
  position: sticky
.MeLiIcon
  height: $searchbarHeight - 2*$searchbarVerticalPadding
  margin-right: 15px
.OutletContainer
  min-height: calc(100vh - $searchbarHeight)

.Container
  @include VerticalFullFlex
  text-align: center
  max-width: $containerMaxWidth
  align-items: center
  padding: $searchbarVerticalPadding

.SearchForm
  @include HorizontalFullFlex

.SearchInput
  width: 100%
  font-size: larger

.SearchButton
  padding: 1px
  height: 100%

.SearchIcon
  height: 100%
  width: unset
